/* 
    Document   : loginStyle
    Created on : Mar 24, 2013, 12:13:22 PM
    Author     : Easysimulation
    Description: Login stylesheet
*/

body{
    background-color: #d6d7e2;
    margin-top: 7px;
    text-align: center;
}
#loginPic{
    position: relative;
    z-index: -1;
}

#center{
    position: relative;
    top: -350px;
    text-align: center;
}

.loginButton,.loginButton:active{
    position: relative;
    left: -6px;
    top: -229px;
}

body,#center{  
    color: #131219;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:1px -2px 0px #ffffff;
}

.loginBoxes, .loginBoxes{
    color: #131219;
    height: 27px;
    text-decoration: none;
    font-weight:bold;
    background-image: url('pbpVI-v2.png');
    background-repeat: repeat-x;
    border-radius: 8px;
    border: 2px solid #131219;
    
}

.loginButton {
    -moz-box-shadow:inset 0px 0px 30px 0px #ededed;
    -webkit-box-shadow:inset 0px 0px 30px 0px #ededed;
    box-shadow:inset 0px 0px 30px 0px #ededed;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e6e4eb), color-stop(1, #48494f) );
    background:-moz-linear-gradient( center top, #e6e4eb 5%, #48494f 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e4eb', endColorstr='#c4c2cc');
    background-color:#e6e4eb;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:8px;
    border:1px solid #131219;
    display:inline-block;
    color:#131219;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 34px;
    text-decoration:none;
    cursor: pointer;
}

.loginButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #48494f), color-stop(1, #e6e4eb) );
    background:-moz-linear-gradient( center top, #48494f 5%, #e6e4eb 100% );
    background-color:#48494f;
}

#loginerror{
    position: relative;
    left: -6px;
    top: -354px;
    color: red;
    text-shadow: none;
}

footer{
    font-family: Arial;
    font-size: 10px;
    font-weight: lighter;
    color: #666666;
    position: relative;
    top: -200px;
    text-shadow: none;
}
