/* 
    Document   : Style
    Created on : Mar 26, 2013, 10:55:36 AM
    Author     : Easysimulation
    Description:
        Purpose of the stylesheet follows.
*/

body{
    margin-left: 25%;
    margin-right: 25%;
    background: -moz-linear-gradient(left, #c3c4cc 0%, #e9eaf8 20%, #e9eaf8 80%, #c1c2cc 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c3c4cc), 
                color-stop(20%,#e9eaf8), color-stop(80%,#e9eaf8), color-stop(100%,#c1c2cc));  
}

body,div,a{
    color: #474747;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    text-align: center;
}

#topimage{
    position: relative;
    top: -40px;
}

#comBox{
    position:relative;
    width: 100%;
    top: -50px;
    text-align: center;
    border: 2px solid #131219;
    box-shadow: 0px 0px 2px 2px red;
}

#navbar{
    width: 100%;
    height: 30px;
    background-color: #131219;
    overflow: hidden;
    list-style-type:none;
    margin:0;
    padding:0;
}
#navbar a{
    cursor: pointer;	
    -webkit-transition: background-color 400ms ease, color 400ms ease;	
    -moz-transition: background-color 400ms ease, color 400ms ease;
    -ms-transition: background-color 400ms ease, color 400ms ease;
    -o-transition: background-color 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, color 400ms ease;	
}

.navbarLeft{
    float: left; 
}

.navbarRight{
    float: right; 
}

.navbarLeft a{
    padding-top: 6px;
    padding-left: 4px;
}

.navbarRight a {
    padding-top: 6px;
    padding-right: 4px;
}

.navbarLeft a:link,a:visited,.navbarRight a:link,a:visited{
    display: inline-block;
    width: 120px;
    height: 30px;
    background-color: #131219;
    color:#e9eaf8;
}

.navbarLeft a:hover,a:active,.navbarRight a:hover,a:active{
    background-color: #e9eaf8;
    color:#131219;
}

footer{
    font-family: Arial;
    font-size: 10px;
    font-weight: lighter;
    color: #666666;
}
