/* 
    Document   : Style
    Created on : Mar 26, 2013, 10:55:36 AM
    Author     : Easysimulation
    Description:
        Color-Scheme:
        #c3c4cc = BGC - left & right 
        #e9eaf8 = BGC - center
        #131219 = Navigationbar BGC & font
        #FF8787 = table BGC
*/

body{
    background: -moz-linear-gradient(left, #c3c4cc 0%, #e9eaf8 20%, #e9eaf8 80%, #c1c2cc 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c3c4cc), 
        color-stop(20%,#e9eaf8), color-stop(80%,#e9eaf8), color-stop(100%,#c1c2cc));  
}

body,div,a,.button,#customTable{
    color: #131219;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    text-align: center;
}

h1,h2,h3,h4{
    border-bottom: 3px solid #131219;
    border-top: 3px solid #131219;
    margin-bottom: 35px;
}

#topimage{
    position: relative;
    top: -55px;
}

#comBox{
    position: relative;
    width: 900px;
    margin: 0 auto;
    top: -85px;
    text-align: center;
    border: 3px solid #131219;
    box-shadow: 0px 0px 15px 2px red;
    overflow: hidden;
}

#navbar{
    width: 100%;
    height: 30px;
    background-color: #131219;
    overflow: hidden;
    list-style-type:none;
    margin:0;
    padding:0;
}
#navbar a{
    cursor: pointer;	
    -webkit-transition: background-color 400ms ease, color 400ms ease;	
    -moz-transition: background-color 400ms ease, color 400ms ease;
    -ms-transition: background-color 400ms ease, color 400ms ease;
    -o-transition: background-color 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, color 400ms ease;	
}

.navbarLeft{
    float: left; 
}

.navbarRight{
    float: right; 
}

.navbarLeft a{
    padding-top: 6px;
    padding-left: 4px;
}

.navbarRight a {
    padding-top: 6px;
    padding-right: 4px;
}

.navbarLeft a:link,a:visited,.navbarRight a:link,a:visited{
    display: inline-block;
    width: 120px;
    height: 30px;
    background-color: #131219;
    color:#e9eaf8;
}

.navbarLeft a:hover,a:active,.navbarRight a:hover,a:active{
    background-color: #e9eaf8;
    color:#131219;
}

input[type=checkbox], input[type=radio]{
    display: none;
}

.customCheck {
    cursor: pointer;
    position: absolute;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    width: 15px;
    height: 17px;
    border-radius: 4px;

    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
}

.customCheck:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 6px;
    height: 4px;
    background: transparent;
    top: 4px;
    left: 3px;
    border: 3px solid #e9eaf8;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

    -webkit-transition: opacity 400ms ease, color 400ms ease;	
    -moz-transition: opacity 400ms ease, color 400ms ease;
    -ms-transition: opacity 400ms ease, color 400ms ease;
    -o-transition: opacity 400ms ease, color 400ms ease;
    transition: opacity 400ms ease, color 400ms ease;	
}

.customCheck:hover:after {
    opacity: 0.3;
}

input[type=checkbox]:checked + .customCheck:after, 
input[type=radio]:checked + .customCheck:after {
    opacity: 1;
}

.styled-textfield{
    position: relative;
    height: 27px;
    width: 150px;
    text-decoration: none;
    background-image: url('pbpVI-v2.png');
    background-repeat: repeat-x;
    border: 2px solid #131219;
    border-radius: 8px;
    color: #131219;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
}

.styled-select{
    width: 200px;
    height: 25px;
    overflow: hidden;
    background: url(select-arrow.png) no-repeat right #e9eaf8;
    border: 2px solid #131219;
    border-radius: 5px;
    margin: 0 auto;
}

#yearBar{
    margin: 0 0 0 0;
    width: 100px;
}

.styled-select select {
    background: transparent;
    width: 120%;
    padding: 3px;
    border: none;
    border-style: none;
    overflow: hidden;
    -webkit-appearance: none;
    color: #131219;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    margin: 0 auto;
}

.button{  
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e6e4eb), color-stop(1, #48494f) );
    background:-moz-linear-gradient( center top, #e6e4eb 5%, #48494f 100% );
    background-color:#e6e4eb;
    border-radius:8px;
    box-shadow:inset 0px 0px 50px 0px #ededed;
    border:2px solid #131219;
    display:inline-block;
    padding:6px 34px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #48494f), color-stop(1, #e6e4eb) );
    background:-moz-linear-gradient( center top, #48494f 5%, #e6e4eb 100% );
    background-color:#48494f;
}

.styledFS{
    margin: 10px;
    border: 3px solid #131219;
    border-radius: 15px;
}

.styledFS .pLeft{
    width: 42%;
    text-align: center;
    float: left;
    margin: 0 auto;
}

.styledFS .pRight{
    width: 58%;
    text-align: center;
    float: right;
    margin: 0 auto;
}
.styledFS div{
    text-align: left;
    margin: 0 auto;
}

.customTable{
    margin: 10px auto;
    width:90%;
    border-collapse: collapse;
}

.customTable th{
    background-color: #FF8787;
    border: 1px solid red;
    padding: 5px;
}

.customTable td{
    border: 1px solid red;
    font-size: 13px;
    font-weight: lighter;
}

.customTable tr.red td{
    background-color: #F0D3D3;
}

.customTable td.padded,
.customTable tr.red td.padded{
    padding: 0 35px 17px 0;
}

#plusButton{
    padding: 0px 3px; 
    margin: 0 0 0 7px;
}

#minusButton{
    padding: 0px 5px; 
    margin: 0 0 0 13px;
}

#namefields {
    width: 97%;
}

#formatFields{
    text-align: center;
    width: 45px;
    height: 25px;
}

#leftFields{
    text-align: left;
    width: 50%;
}

#usernameFields{
    width: 50%;
}

#usernameFS{
    margin: 10px 20% 10px 20%;
}

footer{
    font-family: Arial;
    font-size: 10px;
    font-weight: lighter;
    color: #666666;
}
